@import "tailwindcss";
@import "./forms.css";
@import "./typography.css";
@import "./modal.css";
@import "./menubar.css";

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf');
}

@theme {
    --radius-box: 6px;
    --radius-field: 8px;
}

@layer base {
    body {
        font-family: Roboto;
    }
}

@utility rounded-box {
    border-radius: var(--radius-box);
}

@utility rounded-field {
    border-radius: var(--radius-field);
}

@layer components {
    .grid-bg {
        background: url("/grid3.png");
        box-shadow: 0 0 12px 4px rgb(0 0 0 / 25%) inset;
    }
}